PassengerStartupFile server.js
PassengerResolveSymlinksInDocumentRoot on
Require all granted
PassengerAppType node
PassengerAppRoot /home/a0285934/domains/isakura31313.zonopo.ru/public_html
Options -MultiViews
